@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fce3a4;
  overscroll-behavior: none;
}

.canopee {
  font-family: "Canopee";
}

.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #ee4444;
  transform-origin: 0%;
}
