@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

.shadow {
  box-shadow: 10px 10px 0 #000000;
}

::selection {
  color: #fff;
  background: #000;
}

@font-face {
  font-family: "Canopee";
  src: local("Canopee"),
    url("./Fonts/10\ Canopee/Canopee.otf") format("truetype");
  font-weight: bold;
}

.write-verticle {
  writing-mode: vertical-lr;
}
